#home {
  background-color: white;
  color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
}

.link {
  padding: 0px 230px;
}
.link h3 {
  border-radius: 5px;
}

.modal-content {
  background-color: #FFFDBB;
  padding: 30px;
}

.ml15 {
  font-weight: 800;
  font-size: 50px;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-family: 'Roboto Slab', serif;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
  padding: 15px;
}

.ml15 .annonce {
  color: #CF0A2C;
  font-size: 80px;
}

.ml15 #big-world {
  font-size: 100px;
}

.photo img {
  width: 100%;
  height: 100%;
  padding-top: 25px;
}

@media (max-width: 700px) {
  .home-text h1 {
    font-size: 20px;
  }
  .link h3{
    font-size: 20px;
    width: 200px;
  }
  // .modal-content {
  //   background-position: cover;
  //   background-position: 100%;
  // }
  .ml15 {
    font-size: 30px;
  }
  .ml15 .annonce {
    font-size: 35px;
  }
  .ml15 #big-world {
    font-size: 45px;
  }
}
// Specific CSS for your home-page
